body {
  margin: 0;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.App {
  background-color: rgba(255, 255, 255, 0.5);
}
.container {
  display: flex;
  justify-content: center;
}
.search {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  color: #575756;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
}

.content {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}
.ingridients {
  background-color: rgba(127, 255, 212, 0.7);
  width: 300px;
  list-style-type: none;
  text-align: left;
  border-radius: 10px;
  
}
ul{
  padding: 0;
}
button {
  margin-top: 10px;
  border-radius: 12px;
  border: none;
  background-color: #dbecc4;
}
.recipes {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(220, 230, 207, 0.5);
  align-items: center;
  width: 320px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.recipeImage {
  border-radius: 20px;
  box-shadow: 10px 10px 15px 5px #858484;
  width: 300px;
}
.ingridientsTitle {
  font-weight: bold;
  text-align: center;
}
.nutrients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.nutr {
  font-family: 'Prompt', sans-serif;
  text-align: center;
  background-color: rgb(116, 223, 223, 0.5);
  border-radius: 10px;
  width: 100px;
  height: 50px;
  padding: 20px;
}